<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <h4>{{ post.postName }}</h4>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <img class="profileImg" *ngIf="imgURL=== ''" src="/assets/img/noProfileImg.png" />
                    <img class="profileImg" *ngIf="imgURL" [src]="imgURL" /><span>{{user.name}} {{user.surname}}</span>
                </div>
            </div>
            {{ post.date | date: 'fullDate' }}
        </mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="!post.picturesURL" mat-card-image src="/assets/img/no-image-box.png" alt="Photo of a Shiba Inu" />
    <img *ngIf="post.picturesURL" mat-card-image [src]="rootPath + post.picturesURL" alt="Photo of a Shiba Inu" />
    <mat-card-content>
        <p>
            {{ post.contentText }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="post.status === 'Posteado'" class="row">
            <div class="col-md-4 col-lg-4">
                <button mat-icon-button class="noBackgroudColorButton"><mat-icon class="likeIcon">thumb_up</mat-icon></button>{{ post.likes }}
                <button mat-icon-button class="noBackgroudColorButton" (click)="showCommentsEvent()"> <mat-icon class="likeIcon">comment</mat-icon></button>
            </div>
            <div *ngIf="erasable" class="offset-xl-6 offset-lg-6 offset-md-6 offset-sm-9 col-lg-2 col-md-2 col-sm-3 col-xl-2">
                <button mat-icon-button (click)="eliminarEvento(post.idPost)" class="crudButton">
                <mat-icon class="crudIcon">delete</mat-icon>
              </button>
            </div>
        </div>
        <div *ngIf="post.status != 'Posteado'" class="row">
            <span [ngClass]="{
      pendienteStatusText: post.status == 'Pendiente',
      denegadoStatusText: post.status == 'Denegado'
    }" class="col-md-2 col-lg-2">{{ post.status }}</span
  >
  <div class="offset-xl-8 offset-lg-8 offset-md-8 offset-sm-9 col-lg-2 col-md-2 col-sm-3 col-xl-2">
    <button mat-icon-button (click)="eliminarEvento(post.idPost)" class="crudButton">
      <mat-icon class="crudIcon">delete</mat-icon>
    </button>

      <button mat-icon-button (click)="editarPost(post)" class="crudButton">
        <mat-icon class="crudIcon">edit</mat-icon>
      </button>
  </div>
</div>
    <div class="row commentBox">
      <span class="col-md-3 col-lg-3 commentsTrigger" (click)="showCommentsEvent()">
        Ver comentarios
      </span>
        </div>
        <div *ngIf="showComments" class="row listCommentsContainer">
            <div class="col-md-12 col-lg-12 commentContainer" *ngFor="let c of commentList">
                <app-comment-container [comment]="c"></app-comment-container>
            </div>
            <div class="col-md-12 col-lg-12" *ngIf="commentList.length === 0">
                <span>No se encuentra ningun comentario</span>
            </div>
            <div class="col-md-12 col-lg-12" *ngIf="!erasable">
                <mat-form-field class="full-width" appearance="outline">
                    <textarea matInput placeholder="Comentar" name="contentText" [(ngModel)]="commentTextBoxContent"></textarea>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" class="noBackgroudColorButton" (click)="addComment()">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </mat-card-actions>
</mat-card>