@import "../../../stylesVars.scss";
img {
    max-height: 320px;
    // border: 1px $primary-color-dark solid;
}

.contentCards {
    margin-top: 5%;
}

mat-card {
    margin-top: 2%;
}

mat-card-actions {
    margin-left: 1% !important;
}

.pendienteStatusText {
    color: blue;
    margin: 0!important;
}

.denegadoStatusText {
    color: red;
}

.crudIcon {
    color: $primary-color-font !important;
}

.crudButton {
    margin-right: 2%;
}

a {
    height: inherit;
}

.commentBox {
    margin-top: 2%;
}

span,
p {
    color: $primary-color-dark;
}

.commentsTrigger:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

.listCommentsContainer {
    margin: 0px;
    padding: 0px;
    // background-color: $primary-color-light;
}

.commentContainer {
    margin-bottom: 1%;
}

.noBackgroudColorButton {
    background-color: transparent!important
}