<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <h5>{{ post.postName }}</h5>
        </mat-card-title>
        <mat-card-subtitle>{{ post.date | date: 'fullDate' }}
        </mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="!post.picturesURL" mat-card-image src="/assets/img/no-image-box.png" alt="Photo of a Shiba Inu" />
    <img *ngIf="post.picturesURL" mat-card-image [src]="rootPath + post.picturesURL" alt="Photo of a Shiba Inu" />
    <mat-card-content>
        <p>
            {{ post.contentText }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="post.status === 'Posteado'" class="row">
            <div class="col-md-2 col-lg-2">
                <mat-icon class="likeIcon">thumb_up</mat-icon>{{ post.likes }}
            </div>
            <div class="offset-xl-8 offset-lg-8 offset-md-8 offset-sm-9 col-lg-2 col-md-2 col-sm-3 col-xl-2">
                <button mat-icon-button (click)="eliminarEvento(post.idPost)" class="crudButton">
                <mat-icon class="crudIcon">delete</mat-icon>
              </button>
            </div>
        </div>
        <div *ngIf="post.status != 'Posteado'" class="row">
            <span [ngClass]="{
      pendienteStatusText: post.status == 'Pendiente',
      denegadoStatusText: post.status == 'Denegado'
    }" class="col-md-2 col-lg-2">{{ post.status }}</span
  >
  <div class="offset-xl-8 offset-lg-8 offset-md-8 offset-sm-9 col-lg-2 col-md-2 col-sm-3 col-xl-2">
    <button mat-icon-button (click)="eliminarEvento(post.idPost)" class="crudButton">
      <mat-icon class="crudIcon">delete</mat-icon>
    </button>

      <button mat-icon-button (click)="editarPost(post)" class="crudButton">
        <mat-icon class="crudIcon">edit</mat-icon>
      </button>
  </div>
</div>
</mat-card-actions>
</mat-card>