@import '../../stylesVars.scss';
.textTitle {
  color: $secondary-color;
  font-weight: bold;
}
.menuheaderContent {
  margin-left: 10%;
  margin-right: 10%;
  height: inherit;
}
.withoutBackgroundColor {
  height:inherit;
  font-size: 18px;
  color: $primary-color-font;
  font-weight: bold;
  padding-left:10%;
  padding-right: 10%;
}
.withoutBackgroundColor:hover {
  background-color: $secondary-color!important;
}
a {
  height:inherit;
}

.flex-spacer {
  flex-grow: 1;
}
.accountButton {
  color: $primary-color-font;
}
.accountButton:hover {
  background-color: $secondary-color!important;
}

.menuAccountButton {
  width: 100%;
}
a.fullancholink {
  text-decoration: none;
}
.fullancholink {
  width:100%;
}

.currentplacebutton {
  background-color: orange;
}
