<mat-toolbar class="example-header">
  <span class="textTitle">Logo place......</span>
  <div class="menuheaderContent">
    <a [routerLink]="['/home']" *ngIf ="logIn">
      <button mat-button class="withoutBackgroundColor">
        Inicio
      </button>
    </a>
    <a [routerLink]="['/noticias']">
      <button mat-button class="withoutBackgroundColor">
        Noticias
      </button>
    </a>
    <a [routerLink]="['/cuenta-lol']">
      <button mat-button class="withoutBackgroundColor">
       league of legends
      </button>
    </a>
  </div>
  <div class="flex-spacer"></div>
  <div *ngIf ="!logIn">
    <a [routerLink]="['/login']">
      <button mat-button class="withoutBackgroundColor">LogIn</button>
    </a>
  </div>
  <div *ngIf ="logIn">
    <a>
      <button mat-button class="withoutBackgroundColor" (click) ="logOut()" >LogOut</button>
    </a>
  </div>
</mat-toolbar>
