@import '../../stylesVars.scss';
.textTitle {
    color: $secondary-color;
    font-weight: bold;
}

.menuheaderContent {
    margin-left: 10%;
    margin-right: 10%;
    height: inherit;
}

.withoutBackgroundColor {
    height: inherit;
    font-size: 18px;
    color: $primary-color-font;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}

.withoutBackgroundColor:hover {
    background-color: $secondary-color!important;
}

a {
    height: inherit;
}

.flex-spacer {
    flex-grow: 1;
}

.accountButton {
    color: $primary-color-font;
}

.accountButton:hover {
    background-color: $secondary-color!important;
}

.menuAccountButton {
    width: 100%;
    background-color: $primary-color-dark!important;
    color: $primary-color-font;
    mat-icon {
        color: $primary-color-font;
    }
}

a.fullancholink {
    text-decoration: none;
}

.fullancholink {
    width: 100%;
}

.currentplacebutton {
    background-color: orange!important;
}

@media (max-width: 820px) {
    .withoutBackgroundColor {
        height: inherit;
        font-size: 18px;
        color: $primary-color-font;
        font-weight: bold;
        padding-left: 2%;
        padding-right: 2%;
    }
    .menuheaderContent {
        margin-left: 2%;
        margin-right: 2%;
        height: inherit;
    }
}

.menu {
    color: $primary-color-font!important;
}