@import "../../stylesVars.scss";
.search-form-field {
  width: inherit;
}
.searchButton{
  background-color: $primary-color-dark!important;
  color: $primary-color-font;
}

.no-margin {
  margin: 0;
}

