@import "../../stylesVars.scss";
.content {
    margin-top: 2%;
}

.full-width {
    width: 100%;
}

.loginContainer {
    align-content: center;
}

mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2% !important;
}

mat-card-header {
    margin-bottom: 5%;
}

// .buttonSubmit {
//     background-color: $primary-color-dark!important;
//     color: $primary-color-font;
// }