<div class="content row">
    <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
        <div class="row">
            <mat-card class="card offset-md-2 col-md-8 offset-sm-3 col-sm-6 ">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Iniciar sesión </h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="form">
                        <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Nombre de usuario" [(ngModel)]="credentials.username" name="username" required />
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <input matInput type="password" placeholder="Contraseña" [(ngModel)]="credentials.password" name="password" required />
                        </mat-form-field>
                    </form>
                    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="login()" class="full-width">
                      Iniciar sesión
                  </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>