@import "../../stylesVars.scss";
img {
    max-height: 320px;
    border: $secondary-color solid;
}

.example-card {
    // max-width: 400px;
}

.contentCards {
    margin-top: 5%;
}

mat-card {
    margin-top: 2%;
}

mat-card-actions {
    margin-left: 1% !important;
}

.containerCards {
    margin-bottom: 2%;
}

.flex-spacer {
    flex-grow: 1;
}

.pendienteStatusText {
    color: blue;
}

.denegadoStatusText {
    color: red;
}