@import "../../stylesVars.scss";
.containerCards {
    margin-bottom: 2%;
}

.myPostView {
    margin-top: 2%;
    // height: 100%;
}

.title {
    text-align: center;
}

.emptyListMessage {
    text-align: center;
    margin-top: 2%;
}