<div class="content myPostView">
    <h4 class="offset-lg-5 col-lg-2 offset-md-5 col-md-2 offset-sm-5 col-sm-2 title">Lista de publicaciones</h4>
    <div *ngFor="let post of postList" class=" offset-md-3 offset-lg-3  col-md-6 col-lg-6 containerCards">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <h5>{{ post.postName }}</h5>
                </mat-card-title>
                <mat-card-subtitle>{{ post.date | date: 'fullDate' }}
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://i.pinimg.com/originals/9e/38/13/9e3813503c31c068146fbb8cd18db0de.jpg" alt="Photo of a Shiba Inu" />
            <mat-card-content>
                <p>
                    {{ post.contentText }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="post.status === 'Posteado'" class="row">
                    <div class="col-md-2 col-lg-2">
                        <mat-icon class="likeIcon">thumb_up</mat-icon>{{ post.likes }}
                    </div>
                    <div class=" offset-xl-9 offset-lg-8 offset-md-8 col-lg-2 col-md-2 offset-sm-8 col-sm-2 col-xl-1">
                        <button mat-icon-button>
              <mat-icon class="deleteIcon" (click)="eliminarEvento(post.idPost)">delete</mat-icon>
            </button>
                    </div>
                </div>
                <div *ngIf="post.status != 'Posteado'" class="row">
                    <span [ngClass]="{
              pendienteStatusText: post.status == 'Pendiente',
              denegadoStatusText: post.status == 'Denegado'
            }" class="col-md-2 col-lg-2">{{ post.status }}</span
          >
          <div class="offset-xl-9 offset-lg-8 offset-md-8 col-lg-2 col-md-2 offset-sm-8 col-sm-2 col-xl-1">
            <button mat-icon-button (click)="eliminarEvento(post.idPost)">
              <mat-icon class="deleteIcon">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>