@import "../../stylesVars.scss";
img {
    min-height: 320px;
    max-height: 320px;
    border: $secondary-color solid;
}

.contentCards {
    margin-top: 5%;
}

mat-card {
    margin-top: 2%;
}

mat-card-actions {
    margin-left: 1% !important;
}

.pendienteStatusText {
    color: blue;
    margin: 0!important;
}

.denegadoStatusText {
    color: red;
}

.crudIcon {
    color: $primary-color-font !important;
}

.myPostView {
    margin-top: 2%;
}

.crudButton {
    margin-right: 2%;
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 120px;
}