<div *ngIf="user !== undefined" class="container">

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <img *ngIf="imgURL=== ''" src="/assets/img/noProfileImg.png" />
            <img *ngIf="imgURL" [src]="imgURL" /><span>{{user.name}} {{user.surname}}</span>
        </div>
    </div>
    <div class="row dateInfo">
        <span class="col-md-12 col-lg-12 commentDate">{{comment.date | date: 'fullDate'}}</span>
    </div>

    <div class="row commentText">
        <span class="col-md-12 col-lg-12">{{comment.contentText}}</span>
    </div>
</div>