@import '../../../stylesVars.scss';
img {
    width: 25px;
    height: 25px;
    vertical-align: center;
    margin-right: 1%;
}

.container {
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.commentDate {
    font-size: 10px;
}

.dateInfo {
    margin-bottom: 1%;
}

span,
p {
    color: $primary-color-dark;
}