@import "../../stylesVars.scss";
mat-card {
  background-color:$primary-color-dark;
  color: $primary-color-font;
}
mat-card-subtitle {
  color: $primary-color-font!important;
}
mat-card-title {
  font-weight: bold!important;
  color:$secondary-color!important;
}
