$primary-color: #0066ff;
$primary-color-dark: #001f4d;
$primary-color-light: #b3d1ff;

$secondary-color: #ff6600;
$secondary-color-dark: #4d1f00;
$secondary-color-light:  #ffd1b3;

$primary-color-font: #ffff;
$primary-color-font-black: #0000;

$secondary-color-font: #ffff;
$secondary-color-font-black: #0000;

$primary-color-hover: #001246;
