/* You can add global styles to this file, and also import other style files */

@import "./StylesVars.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

// cabecera
mat-toolbar {
    background-color: $primary-color-dark!important;
    height: 72px!important;
}

.mat-menu-content:not(:empty) {
    padding: 0!important;
    border: $secondary-color solid;
}

// general
.withoutBackgroundColor {
    background-color: transparent;
}

.content-main {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

body {
    background-color: #F7F5F3;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    min-width: 600px;
    margin: 0;
}

.content {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color-dark;
}

button {
    background-color: $primary-color-dark !important;
    color: $primary-color-font !important;
}

mat-icon {
    color: $primary-color-dark !important;
}

// ventana de lol
.lolTab {
    .mat-tab-labels {
        background-color: white;
        height: 56px;
    }
    .mat-tab-label {
        font-weight: bold;
        color: $primary-color-dark;
    }
}

mat-card {
    border-radius: 0.5em !important;
    border: 1px solid $primary-color-dark;
}

// inputs filee
.inputHidden {
    display: none;
}

.profileImg:hover {
    cursor: pointer;
    border: 1px $secondary-color solid;
}