@import "../../stylesVars.scss";
.containerCards {
    margin-bottom: 2%;
}

.myPostView {
    margin-top: 2%;
}

.paginatorContainer {
    margin-bottom: 2%;
}

.paginator {
    display: inline;
}

.seletedPageButton {
    color: $primary-color-dark !important;
    background-color: $secondary-color !important;
}