<div class="content myPostView">
    <div *ngFor="let post of postList" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown(event)" (scrolledUp)="onUp()" class=" offset-md-3 offset-lg-3  col-md-6 col-lg-6 containerCards">
        <app-post-container [post]="post" [erasable]="false"></app-post-container>
    </div>
    <!-- <div class="offset-md-4 offset-lg-4  col-md-4 col-lg-4 paginatorContainer">
        <div *ngFor="let n of pages" class="paginator">
            <button mat-fab (click)="pageChange(n)" [ngClass]="{'seletedPageButton': n === pageSelected }">
                {{n}}
            </button>
        </div>
    </div> -->
</div>